/**
* Color Vars
*/

$purple: #5d1499 !default;
$yellow: #ffcc3e !default;
$blue: #0880c7 !default;
$grey: #989898 !default;
$dark-grey: #282828 !default;
$medium-grey: #c5c5c5;
$light-grey: #f4f4f4;
$extra-light-grey: #F9F9F9;
$boulder: #e5e5e5;

$black: #000 !default;
$alpha-black-30: rgba($black, 0.3) !default;;
$alpha-black-50: rgba($black, 0.5) !default;;
$alpha-black-75: rgba($black, 0.75) !default;;
$alpha-black-80: rgba($black, 0.8) !default;;
