<section id="landing-page-content">
    <div class="campaign-banner">
        <img src="../assets/images/banner-v2.png" alt="O jeito mais fácil, barato e seguro de viajar.">
    </div>
    <!-- /.campaign-banner -->

    <section id="complete-list-offers">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <p>Confira as datas para embarcar na ClickBus X, em ônibus <strong>executivo</strong> ou <strong>leito</strong>!</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col l10 offset-l1">
                    <table id="table-offers" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Origem</th>
                                <th>Destino</th>
                                <th>Datas disponíveis</th>
                                <th>Horário partida</th>
                                <th>A partir de</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-offer">
                            <td>Belo Horizonte, MG</td>
                            <td>Rio de Janeiro, RJ</td>
                            <td>
                                <select data-row="1" class="available-dates">
                                </select>
                            </td>
                            <td>
                                <div class="hour-wrapper">
                                    Partida <span>23:00</span>
                                </div>
                            </td>
                            <td class="price-td">
                                <a target="_blank"
                                   href="https://www.clickbus.com.br/onibus/belo-horizonte-mg-terminal-jk/rio-de-janeiro-rj-gloria?departureDate=2020-08-21">
                                    <span>49,00</span>
                                    <i class="icon-search"></i>
                                </a>
                            </td>
                        </tr>

                            <tr class="row-offer">
                                <td>Rio de Janeiro, RJ</td>
                                <td>Belo Horizonte, MG</td>
                                <td>
                                    <select data-row="2" class="available-dates">
                                    </select>
                                </td>
                                <td>
                                    <div class="hour-wrapper">
                                        Partida <span>23:00</span>
                                    </div>
                                </td>
                                <td class="price-td">
                                    <a target="_blank"
                                       href="https://www.clickbus.com.br/onibus/rio-de-janeiro-rj-gloria/belo-horizonte-mg-terminal-jk?departureDate=2020-08-21">
                                        <span>49,00</span>
                                        <i class="icon-search"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- /#table-offers -->
                </div>
                <!-- /.col l10 offset-l1 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#complete-list-offers -->

    <section id="about-clickbusx">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <h3>O que é ClickBus X</h3>
                </div>
                <!-- /.col l12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col l12">
                    <div class="long-description">
                        <p>Você em primeiro lugar. É assim que funciona a <strong>ClickBus X</strong>. Aqui você paga mais barato na passagem de ônibus e sem perder a qualidade e boa experiência para sua viagem. Tudo com a <strong>garantia, segurança e tecnologia</strong> que a ClickBus oferece aos viajantes. Ah, e sua <strong>viagem é garantida</strong>. Sem surpresas de última hora!</p>
                        <p>Depois da compra, estaremos sempre em contato com você e te daremos todas as informações da sua viagem, onde embarcar e dicas de como ter uma viagem ainda mais tranquila. Ah, e para embarcar você pode apresentar seu e-mail de confirmação (pelo celular mesmo) junto a um documento com foto, assim, além de facilitar sua viagem e reduzir o contato físico, garantimos a <strong>segurança de todos</strong>.</p>
                    </div>
                    <!-- /.long-description -->
                </div>
                <!-- /.col l12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col l4">
                    <div class="highlight-wrapper">
                        <img src="./../assets/images/prices.svg" alt="Preços incríveis">
                        <span><strong>Preço incrível</strong>: o melhor preço na passagem</span>
                    </div>
                    <!-- /.highlight-wrapper -->
                </div>
                <!-- /.col l4 -->

                <div class="col l4">
                    <div class="highlight-wrapper">
                        <img src="./../assets/images/companies.svg" alt="Empresas de credibilidade">
                        <span><strong>Viagem garantida</strong>: chegue na data prevista e sem complicações</span>
                    </div>
                    <!-- /.highlight-wrapper -->
                </div>
                <!-- /.col l4 -->

                <div class="col l4">
                    <div class="highlight-wrapper">
                        <img style="height: 42px" src="./../assets/images/security.png" alt="Mais segurança: empresa alinhada com segurança e higiene">
                        <span><strong>Mais segurança:</strong> empresa alinhada com segurança e higiene</span>
                    </div>
                    <!-- /.highlight-wrapper -->
                </div>
                <!-- /.col l4 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#about-clickbusx -->

    <section id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <div id="newsletter-wrapper">
                        <div class="newsletter-header d-flex flex-align-items-center">
                            <img src="./../assets/images/newsletter.svg" alt="Image">
                            <p>Quer ficar por dentro de novidades? Deixe seu e-mail aqui!</p>
                        </div>
                        <!-- /.newstter-header -->

                        <form id="send-lead" action="http://cl.exct.net/DEManager.aspx" method="post">
                            <input type="hidden" name="_clientID" value="6276011" />
                            <input type="hidden" name="_deExternalKey" value="18AF6E6C-FD0A-4629-9AC8-2CC214840171" />
                            <input type="hidden" name="_action" value="add" />
                            <input type="hidden" name="_returnXML" value="0" />
                            <input type="hidden" name="_successURL" value="" />
                            <input type="hidden" name="_errorURL" value="" />
                            <input id="cbx-email-lead" name="e-mail" type="email" placeholder="E-mail" aria-label="E-mail" required>
                            <button>Enviar</button>
                        </form>
                    </div>
                    <!-- /#newsletter-wrapper -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#newsletter -->

    <section id="doubts">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <div class="main-title">
                        <h2>Dúvidas?</h2>
                    </div>
                    <!-- /.main-title -->

                    <div class="list-of-terms">
                        <div class="accordion-title">1. O que é ClickBus X e quais são as suas vantagens?</div>
                        <div class="accordion-content">
                            <p>A ClickBus X é um novo produto da ClickBus que oferece passagens de ônibus a preços diferenciados em classes como leito e executivo com viações parceiras em rotas selecionadas. A compra destas passagens é realizada pelo site e aplicativo da própria ClickBus quando houver disponibilidade na busca da rota ou através desta página.  Você garante o melhor preço, tem a sua viagem garantida sem ter que esperar um grupo fechar e viaja em ônibus de empresas certificadas e de credibilidade adotando medidas de higiene e segurança para uma viagem mais tranquila.  ClickBus X é o jeito mais fácil, barato e seguro de viajar!</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">2. Qual a diferença da ClickBus e da ClickBus X?</div>
                        <div class="accordion-content">
                            <p>A ClickBus X faz parte da ClickBus! É uma iniciativa adicional que visa oferecer passagens de ônibus por preços diferenciados em conjunto com as empresas parceiras. Você garante uma passagem por preço baixo e ainda conta com toda a conveniência e segurança da marca ClickBus. A oferta da ClickBus X depende da disponibilidade de assentos nos ônibus que farão esta operação. Mas lembre-se, se não tiver mais passagens de ClickBus X, você ainda pode garantir a sua viagem para mais de 4 mil destinos oferecidos pela ClickBus pelo site e app com outras viações parceiras.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">3. Como recebo a minha passagem da ClickBus X?</div>
                        <div class="accordion-content">
                            <p>Você receberá um email de confirmação de compra que você deve apresentar na tela do seu celular para embarcar.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">4. Quais são os documentos necessários para o dia de embarque?</div>
                        <div class="accordion-content">
                            <p>Documento original com foto e o email de confirmação de compra.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">5. Quanto tempo antes do embarque preciso chegar?</div>
                        <div class="accordion-content">
                            <p>Recomendamos que chegue no local de embarque 30 minutos antes do horário da viagem para não correr o risco de perder o ônibus!</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">6. Posso escolher o meu lugar?</div>
                        <div class="accordion-content">
                            <p>Pode sim! Na hora da compra você escolhe se quer sentar na janelinha, na frente ou atrás!</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">7. Posso cancelar ou remarcar a passagem?</div>
                        <div class="accordion-content">
                            <p>Não podemos fazer alterações como mudança de data ou nome, mas você pode sim cancelar. Fique atento aos prazos! O cancelamento tem que ser feito 24h antes da viagem por meio do nosso site, da nossa central de atendimento online ou através do e-mail suporte@clickbus.com.br e precisará ser feito dentro do horário de atendimento da equipe ClickBus de segunda a sexta das 09h às 18h (exceto feriados). Reembolsos não serão feitos após esse prazo então se programe para não perder o ônibus.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">8. Preciso de suporte. Com quem posso falar?</div>
                        <div class="accordion-content">
                            <p>A gente tá aqui para te ajudar! Por isso, nossos canais de atendimento estão disponíveis para você de segunda a sexta-feira, das 9h às 18h, e você pode entrar em contato através de um dos nossos
                                <a href="https://www.clickbus.com.br/institucional/atendimento" target="_blank" title="Acessar canais de atendimento">canais de atendimento</a>. Atendemos por redes sociais, chat, telefone ou e-mail. Conte com a gente!</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">9. Posso transferir a passagem para outra pessoa?</div>
                        <div class="accordion-content">
                            <p>As passagens da ClickBus X não poderão ser transferidas para outro nome.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">10. Onde será o embarque e desembarque?</div>
                        <div class="accordion-content">
                            <p>Os ônibus da ClickBus X terão pontos de embarques diferenciados que você verá na hora da compra da passagem e também no email de confirmação de compra.</p>
                            <p>Atualmente os pontos de embarque são:</p>
                            <ul>
                                <li><strong>BELO HORIZONTE (TERMINAL TURÍSTICO JK) / MG</strong></li>
                                <li>Rua dos Guajajaras, 1353 - Barro Preto</li>
                                <li>Belo Horizonte - MG</li>
                                <li>CEP 30180-107</li>
                                <li><a href="https://goo.gl/maps/W1opwVGmKfMy5sD98" target="_blank">https://goo.gl/maps/W1opwVGmKfMy5sD98</a></li>
                            </ul>
                            <ul>
                                <li><strong>RIO DE JANEIRO (GLÓRIA) / RJ</strong></li>
                                <li>COD J3 7384</li>
                                <li>Avenida Beira Mar, 3587 - Glória</li>
                                <li>Rio de Janeiro - RJ</li>
                                <li>CEP 20021-060</li>
                                <li><a href="https://goo.gl/maps/pLNF7S1qkKphBbvf9" target="_blank">https://goo.gl/maps/pLNF7S1qkKphBbvf9</a></li>
                             </ul>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">11. Quais os destinos atendidos?</div>
                        <div class="accordion-content">
                            <p>Atualmente oferecemos viagens de ClickBus X nas rotas "Rio de Janeiro - Belo Horizonte" e "Belo Horizonte - Rio de Janeiro", e em breve vamos expandir para mais cidades! Mas lembre-se, você ainda pode garantir a sua viagem para mais de 4 mil destinos oferecidos pela ClickBus pelo site e app, com mais de 150 empresas de ônibus parceiras.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">12. Preciso esperar o grupo fechar para saber se vou viajar?</div>
                        <div class="accordion-content">
                            <p>Não, a sua viagem é garantida! Aqui você comprou, viajou e ainda chega na data prevista sem complicações! A operação da ClickBus X é realizada em parceria com grandes empresas de ônibus que vão garantir a sua viagem independente de quantas pessoas quiserem viajar na mesma data.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">13. É cobrada alguma taxa de serviço?</div>
                        <div class="accordion-content">
                            <p>Não! As passagens da ClickBus X não tem taxa! No site e no app o valor da taxa vai aparecer como "desconto" e não será cobrada!</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">14. Tem gratuidade ou desconto adicional para idosos, estudantes ou portadores do ID jovem?</div>
                        <div class="accordion-content">
                            <p>Para garantir o preço diferenciado na ClickBus X o valor é igual para todos os passageiros.  Mas lembre-se que as companhias de linha oferecerem gratuidades e descontos que você pode garantir diretamente com a empresa de ônibus.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">15. Quais as medidas de segurança adotadas nas viagens ClickBus X?</div>
                        <div class="accordion-content">
                            <p>Trazer segurança e confiança para os viajantes é um dos principais objetivos do setor rodoviário neste período de pandemia. Por isso, a ClickBus lançou o
                                <a href="https://www.clickbus.com.br/institucional/seguranca-reforcada" target="_blank" title="Selo de Segurança Reforçada">Selo de Segurança Reforçada</a>, que é uma forma de garantir o cumprimento e chancelar a qualidade dos procedimentos de higiene, desinfecção dos veículos, jornada com menos contato (que inclui o uso de máscaras, embarque com e-ticket e fornecimento de álcool gel) e orientações efetivas aos passageiros sobre as medidas adotadas pelas empresas do setor de transporte rodoviário no país. A medida será fiscalizada a partir de pesquisas com clientes e contato com as empresas de ônibus.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">16. O local de embarque pode mudar?</div>
                        <div class="accordion-content">
                            <p>Nos comprometemos a garantir a sua viagem na data que você escolheu, mas sim, é possível que a gente tenha que mudar o endereço de embarque. Caso ela aconteça, você receberá um email sobre essa mudança 24h antes do horário do seu embarque para poder se programar com tempo e deslocamento. Neste email, você receberá todas as orientações da nova passagem como local de embarque, horário, etc. E, se você não quiser viajar no horário da nova passagem, você pode cancelar a sua compra até 5 horas antes do embarque através da nossa central de atendimento online ou através do e-mail suporte@clickbus.com.br, e precisará ser feito dentro do horário de atendimento da equipe ClickBus de segunda a sexta das 09h às 18h (exceto feriados).</p>
                        </div>
                        <!-- /.accordion-content -->
                    </div>
                    <!-- /#list-of-terms -->
                </div>
                <!-- /.col l12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#doubts -->

    <section id="campaign-regulation" class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="main-title">
                        <h2>Termos de Uso</h2>
                    </div>
                    <!-- /.main-title -->
                    <div class="list-of-terms">
                        <div class="accordion-title">Termos de uso ClickBusX</div>
                        <div class="accordion-content">
                            <p>O PRESENTE REGULAMENTO VISA APRESENTAR AS REGRAS ESPECÍFICAS PARA AS PASSAGENS ADQUIRIDAS NA MODALIDADE CLICKBUSX.</p>
                            <p><strong>PARA TODOS OS CASOS EM QUE NÃO HOUVER REGRAS ESPECIFICADAS NESTE REGULAMENTO OU EM CASO DE OMISSÃO, APLICAM-SE AS REGRAS GERAIS DO TERMO DE USO DA CLICKBUS. </strong></p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">SOBRE A CLICKBUSX</div>
                        <div class="accordion-content">
                            <p>1.1 A ClickBusX é uma oferta realizada através do site da ClickBus com valores diferenciados;</p>
                            <p>1.2 A ClickBus realiza as vendas das passagens em conjunto com as companhias parceiras, sendo o transporte realizado por essas, bem como toda e qualquer responsabilidade no trajeto.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">COMO ADQUIRIR UMA PASSAGEM PELA MODALIDADE CLICKBUSX</div>
                        <div class="accordion-content">
                            <p>2.1 Após o preenchimento dos dados iniciais, o “CLIENTE” deverá optar pela opção ClickBusX, conforme data, horários e valores disponíveis no momento da compra;</p>
                            <p>2.2 A passagem deve estar em nome do passageiro que irá viajar;</p>
                            <p>2.3 Não será permitido troca de titularidade para as passagens adquiridas na modalidade ClickBusX.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">DA TAXA DE SERVIÇO</div>
                        <div class="accordion-content">
                            <p>3.Para as passagens adquiridas na modalidade ClickbusX não haverá cobrança de taxa de serviço, pela ClickBus.</p>
                            <p>3.1 Quando a taxa de serviço for descrita na passagem será aplicado um CUPOM de desconto com o valor da mesma, isentando assim, sua cobrança.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">DA IMPRESSÃO DO BILHETE RODOVIÁRIO</div>
                        <div class="accordion-content">
                            <p>4.1 Concluindo a compra, o “CLIENTE” receberá um e-mail com a confirmação do pagamento e o resumo do pedido, contendo os detalhes sobre a viagem e seu bilhete de embarque;</p>
                            <p>4.2 Para embarque o cliente precisa apresentar o e-mail de confirmação de compra pelo celular ou impresso.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">ALTERAÇÕES E CANCELAMENTOS DAS PASSAGENS:</div>
                        <div class="accordion-content">
                            <p>5.1 Não será permitido a alteração para as passagens da modalidade ClickBusX;</p>
                            <p>5.3 O cancelamento da passagem de  ClickBusX somente poderá ser realizado com antecedência de até 24 (vinte quatro) horas da sua viagem, pelo site da ClickBus, pela nossa central de atendimento online ou através do e-mail suporte@clickbus.com.br, e precisará ser feito dentro do horário de atendimento da equipe ClickBus de segunda a sexta das 09h às 18h (exceto feriados).</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">SOBRE O EMBARQUE:</div>
                        <div class="accordion-content">
                            <p>6.1 - O local de embarque estará sinalizado na plataforma ClickBus quando O “CLIENTE” selecionar a categoria ClickBusX e também no email de confirmação de compra;</p>
                            <p>6.2 - É necessário antecedência mínima de 30 minutos, no local de embarque, para o que o embarque aconteça com segurança.;</p>
                            <p>6.3 A viagem poderá ser alterada por parte da ClickBus e empresas parceiras caso não atinja um número mínimo de CLIENTES em até 24 (vinte e quatro) horas do embarque;</p>
                            <p>6.3.1 Caso não alcance o número mínimo de CLIENTES a viagem será remanejada, podendo ter ponto de embarque  e desembarque, hora e assento alterados;</p>
                            <p>6.3.2 O CLIENTE será informado da alteração de sua viagem,  através do e-mail informado no momento da compra, com antecedência de até 24 horas do horário de embarque, assim como as orientações da nova passagem;</p>
                            <p>6.3.4 Caso o CLIENTE não aceite a alteração proposta pela ClickBus, o mesmo poderá cancelar sua viagem com antecedência de até 5 horas do embarque.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">RESPONSABILIDADE E INDENIZAÇÕES</div>
                        <div class="accordion-content">
                            <p>7.1. Trata-se da ClickBusX uma oferta diferenciada de passagens rodoviárias, que poderão ser adquiridas pelo “CLIENTE” através das plataformas online da ClickBus;</p>
                            <p>7.2. As viagens serão operadas por Viações regularmente registradas e autorizadas a operar aquela linha, sendo de total responsabilidade das Viações todo e qualquer tema relacionado à viagem, incluindo, mas não se limitando, ao acesso, qualidade, limpeza e manutenção dos ônibus, sendo que qualquer dano causado ao “CLIENTE”, que não seja relacionado à aquisição da passagem rodoviária por meio das plataformas online da ClickBus, será de total responsabilidade das Viações. A ClickBus sempre estará à disposição do “CLIENTE” para auxiliá-lo no que for necessário;</p>
                            <p>7.3. Desta forma, o “CLIENTE” está ciente que a ClickBus não presta serviços de transporte e não faz parte da cadeia de fornecedores de serviços de transporte, apenas facilita a aquisição de passagens rodoviárias por meio de suas plataformas online. Assim, a ClickBus não garante e não se responsabiliza por qualquer vício ocorrido a partir da aquisição da passagem, sendo, mas não se limitando, a atrasos nas partidas dos ônibus nos horários marcados, atrasos dos clientes, falhas de equipamentos, qualidade dos serviços e dos ônibus, sinistros ou quaisquer outras intercorrências.</p>
                          <p>7.5) A ClickBus poderá encerrar a categoria ClickBusX retirando-a de suas ofertas no site e  se responsabilizando pela alteração da viagem conforme Item 6.3</p>
                        </div>
                        <!-- /.accordion-content -->

                    </div>
                    <!-- /#list-of-terms -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#campaign-regulation -->
</section>
<!-- /#landing-page-content -->