/**
 * File to create accordions styles
 */

#campaign-regulation {
  background-color: $extra-light-grey;
  .main-title {
    h2 {
      margin-top: 0;
    }
  }
}

.list-of-terms {
  border-radius: 4px;
  border: 1px solid $light-grey;
  div {
    &:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-of-type , &:nth-last-of-type(2) {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.accordion-title {
  padding: 20px 80px;
  background-color: #fff;
  color: $dark-grey;
  font-size: 16px;
  cursor: pointer;
  font-weight: 300;
  transition: .2s;
}

.accordion-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  padding: 0 80px;
  background-color: #fff;
  border-bottom: 1px solid $light-grey;
  font-size: 12px;
  color: darken($grey, 10%);
  line-height: 1.6;
  transition: all .2s ease-out;
  *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  *:last-child {
    padding-bottom: 20px;
  }
  ul {
    list-style: disc;
    padding-left: 20px;
    li {
      list-style: disc;
    }
  }
}