/**
 * File to create infographic styles
 */

#infographic {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
    background-color: $purple;
    left: 0;
    top: 50%;
  }
}

.infographic-content {
  padding: 50px 30px;
  background-color: #fff;
  border: 1px solid $dark-grey;
  border-radius: 8px;
  text-align: center;

  h3 {
    text-align: center;
    margin: 0 0 24px 0;
    font-weight: bold;
    font-size: 20px;
  }

  img {
    height: 60px;
    margin-top: 40px;
  }
}