/**
* File to create tables styles
*/

#table-offers {
  border-collapse: separate;
  border-spacing: 0 1em;
  thead {
    th {
      border: 0;
      font-size: 14px;
      padding: 10px 10px 10px 30px;
      color: $dark-grey;
    }
  }

  tbody {
    tr {
      background-color: #fff;
      box-shadow: 0 3px 10px #0000000D;
    }
    td {
      color: $dark-grey;
      width: 23%;
      padding: 12px 5px 12px 30px;
      border-radius: 0;

      .select-wrapper {
        width: 85%;
        background-color: #fff;
        border-radius: 5px;
        input {
          &.select-dropdown {
            color: $black;
          }
        }
      }

      &.price-td {
        padding-left: 0;
        width: 8%;
        padding-right: 15px;
        text-align: right;
        color: #ec0cc3;
        a {
          display: block;
          width: 120px;
          height: 40px;
          line-height: 40px;
          border-radius: 4px;
          background-color: $yellow;
          text-align: center;
          color: $purple;
          position: relative;
          overflow: hidden;
          strike {
            font-size: 12px;
            display: block;
            margin-bottom: -5px;
            transition: .2s;
          }

          span {
            display: block;
            font-weight: 700;
            font-size: 20px;
            transition: .2s;
          }

          i {
            font-size: 20px;
            position: absolute;
            left: 50%;
            top: 150px;
            transform: translate(-50%,-50%);
            transition: .2s;
          }

          &:hover {
            i {
              top: 50%;
            }

            span {
              transform: translateY(200px);
            }

            strike {
              transform: translateY(-200px);
            }
          }
        }
      }
    }
  }
}

.no-results {
  color: rgba(#fff, 0.75);
  text-align: center;
  border-top: 1px solid rgba(#fff, 0.5);
  padding-top: 24px;
  display: none;
}