/**
* File to config title styles
*/

.main-title {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 24px;
  }

  &.with-subtitle {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 8px;
    }
    span {
      display: block;
    }
  }

  &.color-white {
    h1, h2, h3, h4, h5, h6, span {
      color: #fff;
    }
  }
}