/**
* Styles for main page
*/

.campaign-banner {
  img {
    display: block;
    width: 100%;
  }
}

#complete-list-offers {
  padding: 62px 0 24px;
  position: relative;
  border-radius: 12px;
  z-index: 9;
  margin-top: -24px;
  p {
    text-align: center;
    font-size: 1.125rem;
  }

  .select-wrapper {
    input {
      background-image: url('https://clientes.avallonazevedo.com.br/clickbus/clickbusx/calendar.svg');
      background-size: 13px 13px;
      background-position: 10px center;
      background-repeat: no-repeat;
      padding-left: 32px;
    }
    span {
      &.caret {
        border-left: 0;
      }
    }
  }

  .hour-wrapper {
    box-shadow: 0 1px 5px #0000001A;
    width: 80%;
    padding-right: 8px;
    padding-left: 36px;
    border-radius: 4px;
    background-image: url('https://clientes.avallonazevedo.com.br/clickbus/clickbusx/clock.svg');
    background-size: 16px 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: $dark-grey;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
}

#newsletter {
  padding-bottom: 24px;
}

#newsletter-wrapper {
  max-width: 735px;
  margin: 0 auto;
  background-color: $purple;
  padding: 30px 84px 40px 84px;
  border-radius: 4px;
  box-shadow: 0 3px 10px #00000029;
  form {
    margin: 28px auto 0;
    display: flex;
    input {
      width: calc(100% - 154px);
      height: 46px;
      padding: 8px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: $purple;
      font-weight: 300;
    }

    button {
      width: 136px;
      background-color: $yellow;
      font-weight: bold;
      color: $purple;
      height: 46px;
      border-radius: 4px;
      border: 0;
      outline: none;
      margin-left: 16px;
    }
  }
}

.newsletter-header {
  justify-content: center;
  p {
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 520px;
  }
}

#about-clickbusx {
  padding-bottom: 32px;
  h3 {
    font-weight: 900;
    color: $purple;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
  }

  .container {
    min-width: 900px !important;
    width: 900px !important;
  }
}

.long-description {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.highlight-wrapper {
  background-color: rgba(#DFA8FF, 0.15);
  text-align: center;
  padding: 36px 12px;
  border-radius: 12px;
  margin-top: 12px;
  span {
    display: block;
    font-size: 14px;
    color: $purple;
    margin: 12px auto 0;
  }
}

#partner-buslines {
  h3 {
    font-weight: 900;
    color: $purple;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
  }
}

.glide {
  margin-top: 12px;
  margin-bottom: 32px;
}

.glide__bullets {
  text-align: center;
  margin-top: 32px;
  button {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgba(#282828, 0.2);
    cursor: pointer;
    transform: scale(0.8);
    border: 0;
    &.glide__bullet--active {
      background-color: $purple;
    }
  }
}

.glide__slide {
  position: relative;
  height: 60px !important;
  img {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#doubts {
  margin-bottom: 56px;
}