/**
 * File to create layout helpers
 */

.section {
  padding: 40px 0;
}

.wrapper-image {
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.shadow-inside {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    transition: 0.2s;
  }
}

